.slider-with-label {
  display: flex;
  flex-direction: column;
}

.slider-container {
  display: flex;
  flex-direction: row;

  .slider {
    display: flex;
    flex: 1 1;

    input {
      flex: 1 1;
    }
  }

  .slider-value {
    min-width: 3em;
  }
}