$color: white;
$background: black;

.modal {
  color: $color;
  position: absolute;
  border: 1px solid $color;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.modal-header {
  border-bottom: 1px solid $color;
  display: flex;
  flex-direction: row;
}

.modal-title {
  flex: 1 1;
  padding: 5px;
}

.modal-expand {
  border-left: 1px solid $color;
  button {
    height: 100%;
  }
}

.modal-content {
  height: 0;
  will-change: height;
  transition: height ease-in-out .25s;
  overflow: hidden;
}

.modal-drag-icon {
  cursor: move;
  border-right: 1px solid $color;
  padding: 5px;
}